RewriteEngine On

# Si el archivo o directorio existe, servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo al Front Controller
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Bloquear acceso a archivos sensibles
<FilesMatch "\.(env|log|sql|md)$">
    Require all denied
</FilesMatch>
